html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	font: 16px/1.5 sans-serif;
	padding: 2em;
}

/* ---------------------------- */
.pes {
	fill: pink;
	width: 200px;
}
.pes:hover {
	fill: red;
}
button {
	color: blue;
}
button:hover {
	color: pink;
}
button:active {
	color: green;
}
.listecek {
	width: 200px;
}