/* intuitivnejsi box siying */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
	margin: 20px;
	font: 16px/1.5 sans-serif ;
}

/* ------------------------- */
h1 {
	color: dodgerblue;
}
.form-field,
.form-checkbox {
	margin-bottom: 10px;
}
input,
select,
textarea {
	padding: 10px;
	font-size: 16px;
}
.form-field label {
	display: block;
	color: grey;
}
.form-field input,
select,
textarea {
	width: 400px;
	max-width: 400px;
	min-width: 400px;
	border: 1px grey solid;
	border-radius: 5px;
}
textarea{
	height: 200px;
}
.form-button button {
	background-color: dodgerblue;
	border: none;
	color: white;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
}
